* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
  }
  
  .solar-system {
    position: relative;
    width: 500px;
    height: 500px;
  }
  
  .sun {
    
    width: 70px;
    height: 70px;
    background: linear-gradient(90deg, rgba(242,77,27,0.9473039215686274) 57%, rgba(239,176,13,1) 89%, rgba(237,234,4,1) 100%);
    box-shadow: 0 0 30px yellow;
  
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .orbit {
   
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 10s infinite linear;
 
  }
  
  .mercury-orbit {
    width: 150px;
    height: 150px;
    animation-duration: 7s;
    position: absolute;
    top: 36%;
    left: 35%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 10s infinite linear;
  }
  
  .venus-orbit {
    width: 200px;
    height: 200px;
    animation-duration: 9s;
    position: absolute;
    top: 31%;
    left: 30%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 10s infinite linear;
  }
  
  .earth-orbit {
    width: 250px;
    height: 250px;
    animation-duration: 12s;
    position: absolute;
    top: 26%;
    left: 25%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 10s infinite linear;
  }
  
  .mars-orbit {
    width: 300px;
    height: 300px;
    animation-duration: 15s;
    
    position: absolute;
    top: 21%;
    left: 20%;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 10s infinite linear;
  }
  
  .planet {
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translate(0, -50%);
    
  }
  
  .mercury {
    background-image: linear-gradient(to right, rgb(102, 99, 99), rgb(252, 248, 248));
    
  }
  
  .venus {
    background-image: linear-gradient(to right, rgb(237, 248, 25), rgb(252, 248, 248));
  }
  
  .earth {
    background-image: linear-gradient(to right, rgba(77, 20, 233, 0), rgb(247, 249, 251));
  }
  .mars {
    background-image: linear-gradient(to right, rgba(255,0,0,1), rgb(252, 248, 248));
  }
  
  .moon-orbit {
    position: absolute;
    width: 50px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rotate 10s infinite linear;
    
  }
  
  .moon {
    width: 10px;
    height: 10px;
    background-image: linear-gradient(to right, rgba(255,0,0,1), rgb(252, 248, 248));
    border-radius: 50%;
    position: absolute;
    top: 57%;
    left: 90%;
    transform: translate(0, -50%);
    /* animation: rotate 2s infinite ; */
  }
  
  
 
@keyframes rotate {
    0% {
        transform: rotate(0deg) translatey(10px);
      }
      100% {
        transform: rotate(360deg) translateX(10px);
      }
  } 